<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="DB_9B83FB_WebsiteConnectionString" connectionString="Data Source=SQL5002.Smarterasp.net;Initial Catalog=DB_9B83FB_Website;User ID=DB_9B83FB_Website_admin;Password=shalunn100"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>